{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/publication.css' %}">
    <div>
        <div class="heea">

        </div>
        <div class="container">
            {% for publication in publications %}
                <h5 class="card-title">{{ publication.title }}</h5>
                <p class="card-text">{{ publication.description }}</p>
                {% if publication.link_to  %}
                    <a href="{{ publication.link_to }}" class="btn btn-primary">Lien vers la publication</a>
                {% endif %}
                <a href="{{ publication.link_to }}" class="card-url"><p><i class="las la-link"></i>
                    {{ publication.link_str }}</p></a>
                {% endif %}
                <div class="row text-center publication-image">
                    {% for photos in publication.photos.all %}

                        {% if publication.photos.all.count  == 1 %}
                            <div class="col-md-12">
                                <div class="card-galerie">
                                    <img src="{{ photos.photo_url.url }}" class="img-fluid" alt="Responsive image">
                                </div>
                            </div>
                        {% elif publication.photos.all.count  ==  2 %}
                            <div class="col-md-6">
                                <div class="card-galerie">
                                    <img src="{{ photos.get_photo_url }}" class="img-fluid">
                                </div>
                            </div>
                        {% elif publication.photos.all.count  == 6 %}
                            <div class="col-md-4">
                                <div class="card-galerie">
                                    <img src="{{ photos.photo_url.url }}" class="img-fluid">
                                </div>
                            </div>
                        {% elif publication.photos.all.count  == 3 %}
                            <div class="col-md-4">
                                <div class="card-galerie">
                                    <img src="{{ photos.photo_url.url }}" class="img-fluid">
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-3">
                                <div class="card-galerie">
                                    <img src="{{ photos.photo_url.url }}" class="img-fluid">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}